.authBody{
    width: 100vw;
    height: 90vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.authGreet h1{
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
}
.descrp{
    font-size: 18px;
    color: var(--descrp);
}
.highlight{
    color: var(--primary);
}

.authOpt{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.authCard{
    width: 300px;
    height: 350px;
    border: 1px solid var(--brdr);
    box-shadow: 3px 3px 3px var(--brdr);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.authCard h2{
    font-size: 20px;
    letter-spacing: 1.1px;
    line-height: 25px;
    text-align: center;
    width: 100%;
    font-weight: 500;
}
.authCard p{
    color: var(--descrp);
    width: 100%;
    line-height: 18px;
    text-align: center;
}

.authCard img{
    filter: drop-shadow(5px 5px 5px var(--brdr));
}
.auth_btn{
    width: 60%;
    padding: 10px;
    font-size: 18px;
    background-color: white;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--brdr);
    position: relative;
    cursor: pointer;
    color: var(--primary);
    box-shadow: 2px 2px 2px var(--brdr);
    display: flex;
    align-items: center;
    justify-content: center;
}
.authCard button:hover{
    box-shadow:inset 2px 2px 2px var(--brdr);
}
.authCard button svg{
    margin-left: 8px;
}
.authWarn a{
    color: var(--primary);
    text-decoration: none;
}
.authWarn a:hover{
    text-decoration: underline;
}